<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Recogito Studio Plugin Test</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		box-sizing: border-box;
		font-family:Arial, Helvetica, sans-serif;
		height: 100%;
		padding: 0.5rem;
		width: 100%;
	}
</style>
