button.add-gazetteer {
  align-items: center;
  border-color: var(--link-color);
  color: var(--link-color);
  display: flex;
  font-size: var(--font-tiny);
  font-weight: 400;
  height: auto;
  padding: 0.5rem 0.75rem;
}

button.add-gazetteer > svg {
  color: var(--link-blue);
  margin-right: 0.25rem;
}

.dialog-content.ou-gtp-gazetteer-selector {
  padding: 0;
}

.dialog-content.ou-gtp-gazetteer-selector input {
  width: 100%;
  border-width: 0 0 1px 0;
  border-radius: 0;
  outline: none;
  padding: 0.75rem;
}

.dialog-content.ou-gtp-gazetteer-selector input:focus {
  border-color: var(--input-border-color);
  box-shadow: none;
}

.dialog-content.ou-gtp-gazetteer-selector [cmdk-list] {
  padding: 0.5rem;
}

.dialog-content.ou-gtp-gazetteer-selector [cmdk-group-heading] {
  color: var(--font-light);
  font-size: var(--font-tiny);
  padding: 0.125rem;
}

.dialog-content.ou-gtp-gazetteer-selector [cmdk-item] {
  border-radius: 0.25rem;
  font-size: var(--font-small);
  padding: 0.25rem 0.5rem;
}

.dialog-content.ou-gtp-gazetteer-selector [cmdk-item][data-selected='true'] {
  background-color: var(--gray-100);
}

