.dialog-overlay.ou-gtp-document-map-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.dialog-content.ou-gtp-document-map-container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  max-height: 92vh;
  max-width: 92vw;
  padding: 0;
  width: 92vw;
}

.ou-gtp-document-map-container .dialog-title {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  justify-content: space-between;
  padding: 10px 50px 10px 12px;
}

.ou-gtp-document-map-container .titlebar-right {
  display: flex;
}

.ou-gtp-document-map-container .dialog-close {
  top: 7px;
} 