.ou-gtp-add {
  margin-top: 5px;
}

.ou-gtp-add button {
  background-color: var(--bright-blue);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 11.5px;
  gap: 0.5em;
  padding: 10px;
  width: 100%;
}

.ou-gtp-add button.unstyled:not(:disabled):hover {
  box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0.18);
}

.ou-gtp-add button:disabled,
.ou-gtp-add button:disabled svg {
  color: rgba(0, 0, 0, 0.3);
}

.ou-gtp-add button svg {
  color: #fff;
  margin: 0;
}