.ou-gtp-document-map .leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: var(--border-radius);
}

.ou-gtp-document-map .leaflet-popup .leaflet-popup-content {
  margin: 15px;
  width: 300px !important;
}

.ou-gtp-document-map-popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.ou-gtp-document-map-popup p {
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.ou-gtp-document-map-popup a {
  padding: 0;
}

.ou-gtp-document-map-popup p.description {
  color: var(--font-light);
}