.ou-gtp-admin {
  padding: 1rem;
}

.ou-gtp-admin section {
  margin-bottom: 1.5rem;
}

.ou-gtp-admin h3 {
  padding: 0;
  margin: 0.25rem 0;
}

.ou-gtp-admin .accordion-root {
  margin-bottom: 1rem;
}

.ou-gtp-admin h3.accordion-header {
  background-color: var(--gray-50);
  margin: 0;
}

.ou-gtp-admin h3.accordion-header button {
  border: none;
  box-shadow: none;
}

.ou-gtp-admin p {
  color: var(--font-light);
  font-size: var(--font-small);
  margin: 0;
  padding: 0.25rem 0 0.25rem 0;
}

.ou-gtp-admin p.error {
  color: var(--red-500);
}

.ou-gtp-admin .accordion-root {
  margin-top: 1rem;
  width: 100%;
}

.ou-gtp-admin .accordion-item {
  background-color: #fff;
  width: 100%;
}

.ou-gtp-admin .accordion-trigger {
  width: 100%;
}

.ou-gtp-admin .ou-gtp-admin-basemap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ou-gtp-admin .ou-gtp-admin-basemap li {
  align-items: center;
  display: flex;
  font-size: var(--font-small);
  gap: 0.5em;
  margin: 0.5rem 0;
  white-space: nowrap;
}

.ou-gtp-admin .ou-gtp-admin-basemap input {
  display: block;
  margin: 0 0 0.1em 0.1em;
  padding: 0;
}

.ou-gtp-admin .ou-gtp-admin-basemap input[type="text"] {
  flex-grow: 1;
  padding: 6px;
}
